$navy: #032A33 !default;
$dark-grey: #255965 !default;
$mid-grey: lighten(#4C6F7B, 20%) !default;
$light-grey: #eee !default;
$pink: rgb(255,102,203) !default;
$beige: #F1D18A !default;
$text-color: white !default;
$text-alt-color: #032A33 !default;
$breadcrumbs: #f5f5f5 !default;
$menu-styling: #9b59b6 !default;

$base-url: '/assets/' !default;

$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
