<div>
    <form [formGroup]="bookForm">
        <div class="form-group">
            <label class="control-label" for="path">Book path:</label><br>
            <input class="form-control" id="path" formControlName="path"/>
            <span *ngIf="!bookForm.get('path').valid && bookForm.get('path').touched" class="help-block">
                This is required!
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="name">Book name:</label><br>
            <input class="form-control" id="name" formControlName="name"/>
            <span *ngIf="!bookForm.get('name').valid && bookForm.get('name').touched" class="help-block">
                This is required!
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="author">Author:</label><br>
            <input class="form-control" id="author" formControlName="author"/>
            <span *ngIf="!bookForm.get('author').valid && bookForm.get('author').touched" class="help-block">
                This is required!
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="descriptionPl">Description Pl:</label><br>
            <textarea class="form-control" id="descriptionPl" formControlName="descriptionPl"></textarea>
            <span *ngIf="!bookForm.get('descriptionPl').valid && bookForm.get('descriptionPl').touched" class="help-block">
                This is required!
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="descriptionEn">Description En:</label><br>
            <textarea class="form-control" id="descriptionEn" formControlName="descriptionEn"></textarea>
            <span *ngIf="!bookForm.get('descriptionEn').valid && bookForm.get('descriptionEn').touched" class="help-block">
                This is required!
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="rating">Rating:</label><br>
            <input class="form-control" id="rating" type="number" formControlName="rating"/>        
        </div>             
        <div class="form-group">
            <label class="control-label" for="imagePath">Image Path:</label><br>
            <input class="form-control" id="imagePath" formControlName="imagePath"/>        
            <span *ngIf="!bookForm.get('imagePath').valid && bookForm.get('imagePath').touched" class="help-block">
                This is required!
            </span>
        </div>     
        <div class="form-group">
            <label class="control-label" for="link">Link:</label><br>
            <input class="form-control" id="link" formControlName="link"/>        
            <span *ngIf="!bookForm.get('link').valid && bookForm.get('link').touched" class="help-block">
                This is required!
            </span>
        </div>     
        <div class="form-group">
            <label class="control-label" for="pages">Pages:</label><br>
            <input class="form-control" id="pages" type="number" formControlName="pages"/>        
            <span *ngIf="!bookForm.get('pages').valid && bookForm.get('pages').touched" class="help-block">
                This is required!
            </span>
        </div>     
        <div class="form-group">
            <label class="control-label" for="haveRead">Have read date:</label><br>
            <input class="form-control" id="haveRead" formControlName="haveRead"/>        
            <span *ngIf="!bookForm.get('haveRead').valid && bookForm.get('haveRead').touched" class="help-block">
                This is required!
            </span>
        </div>     
        <div class="form-group">
            <label class="control-label" for="posted">Posted (Optional):</label><br>
            <input class="form-control" id="posted" formControlName="posted"/>        
        </div>     
        <div class="form-group">
            <label class="control-label" for="lastUpdate">Last update (Optional):</label><br>
            <input class="form-control" id="lastUpdate" formControlName="lastUpdate"/>       
        </div>     
        <div class="form-group">
            <label class="control-label" for="commentsAvailable">Comments available:</label><br>
            <input class="form-control" id="commentsAvailable" type="checkbox" formControlName="commentsAvailable"/>        
        </div>     
        
        <button type="button" class="btn btn-success" (click)="onSubmit()" [disabled]="!bookForm.valid">
                Send Book
        </button>
        
        <span *ngIf="book">
            <button type="button" class="btn btn-danger" (click)="toggleDelete = !toggleDelete">
                Delete Book
            </button>
        </span>
        <div *ngIf="toggleDelete">
            Remember to delete Links!
            If you want to delete book, type password:<br>
            <input class="form-control" type="password" #secretPassword/><br>
            <button type="button" class="btn btn-danger" (click)="checkPassword()" style="margin-bottom: 40px;">
                    Check password
            </button>
            <div *ngIf="deletePossible; else deleteNotPossible">
                <button type="button" class="btn btn-danger" (click)="deleteBook()">
                    Finally delete Book
                </button>
            </div>
            <ng-template #deleteNotPossible>
                Delete action is not possible!
            </ng-template>
        </div>
    </form>
</div>
<div *ngIf="book">
    <app-edit-links [entityId]="book.id" [dataType]="'Book'"></app-edit-links>
    <br>
    <app-book-tags [entityId]="book.id"></app-book-tags>
    <br>
</div>