.site-content-box{
    margin: auto; 
    border: solid 5px $navy; 
    border-radius: 10px 50px; 
    padding: 30px;
    background-color: $light-grey;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 1.2em;
}
.text-center{
    text-align: center;
}