.navbar-toggle{
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    .icon-bar {
        background-color: $mid-grey;
    }
}
.navbar-color{
    background-color: $navy;
}
.navbar-nav li{
    a{
        font-weight: bold;
        color: $text-color;
        font-size: 17px;
  //      background-color: $navy;
    
        &:hover, &:active{
            font-size: 23px;
            //background-color: transparent;
        }
    }
    
    &:hover{
//        background-color: transparent;
    }
}
.nav li a{
    &:focus,&:hover{
        background-color: transparent !important;
    }
}
.site-active{
    background-color: $beige;
    border-radius: 15px;
}
#logo{
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 0px 15px;
}
#logo-img{
    width: 50px;
    height: 50px;
    display: inline;
    
}
.search-box{
    display: inline;
}
.search{
    width: 100px;
    transition: width 1s;
    color: $text-alt-color;
    
    &:focus{
        width: 200px;
    }
}

/*.nav li a{
    &:focus, &:hover{
        background-color: transparent;
    }
}*/
.nav-menu {
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;

    & * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    & li {
        list-style: outside none none;
        margin: 0.5em 0.5em;
        padding: 0;
    }
    & a {
        padding: 0.3em 0;
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        text-decoration: none;
        display: inline-block;
    }
    
    a{
        &:before, &:after {
            height: 3px;
            position: absolute;
            content: '';
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
            background-color: $menu-styling;
            width: 0;
        }

        &:before {
            top: 0;
            left: 0;
        }

        &:after {
            bottom: 0;
            right: 0;
        }
    
        &:hover{
            color: #ffffff;
            
            &:before, &:after{
                width: 100%;
            }
        }
    }

    .current a {
        color: #ffffff;
    
        &:before, &:after{
            width: 100%;
        }
    }
}
